@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*HEADER */
body{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.header-principal{
    background-color: #222;
    box-shadow: 0 4px 4px 0 #000 ;
    
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 1.25rem; 
}

.logo{
    width: 234px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.logo h1{
    font-size: 1.5rem;
    font-weight: 700;
} 

.pizza{
    color:#39B24A;
}

.front{
    color: #FC200C;
}

.nav-header{
    display: flex;
    align-items: center;
}

.enlaces-header{
    width: 400px;
    display: flex;
    justify-content: space-around;

    list-style: none;
}

.enlaces-header a{
    
    color:#F3F3F3;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

/*MAIN*/
main{
    width: 100%;
    height: 428px;
    display: flex;
    justify-content: center;
}

.contenedor{
    width: 96%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*SECCION DE TOP DE PIZZA*/

.podio{
    width: 49%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.podio h2{
    color: #FC200C;
    font-weight: 700; 
    font-size: 1.5rem;
}

.topPizza{
    Width: 57%;/*385px*/
    Height: 250px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    color: #222;
    font-weight: 700;
}

.top{
    width:46% ;/*178px*/
    height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top h3{
    font-size: 1.25rem;
}

div.top ol{
    font-size: 1rem;
    line-height: 1.5rem;
}

.imgPodio{
    height: 129px;
}

/*SECCION DE PROMOCION DOMICILIO*/

.promoDomicilio{
    width: 49%;
    height: 350px ;

    background-image: url("../img/delivery.jpg");
    background-repeat: no-repeat;
    background-size: 100% 350px;
    background-position-x: center;
    font-size: 1.5rem;
}

section.promoDomicilio h2{
    color: #FC200C;
    margin: 10px;
}

.comprando{
    color:#fff;
}

/*FOOTER*/

footer{
    height: 150px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    background-color: #222222;
}

footer section.logo{
    margin-right: 30px;
}

footer section.logo h1{
    font-size: 1.25rem;
}

.enlaces-footer{
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1.25rem; 

    list-style: none;
}

.enlaces-footer a{
    color:#F3F3F3;
    text-decoration: none;
}

.item2{
    order: 1;
}

.item3{
    order: 2;
}

@media (max-width: 480px) {

    body, main{
        width: auto;
        height: auto;
    }

    .enlaces-header{
        width: 1.5rem;
        height: 0.87rem;
        content: url("../img/Vector.png");
        display: flex;
        align-items: center;
    }

    .contenedor{
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 20px 0;
    }

    .podio{
        width: 90%;
    }

    .topPizza{
        width: 80%;
    }

    .top h3{
        margin-bottom: 15px;
    }

    .promoDomicilio{
        width: 100%;
    }

    footer{
        height: 84px;
        flex-direction: row;
    }

    footer section.logo{
        display: flex;
        width: 167px;

    }

    footer section.logo img{
        height: 53px;
        margin-left:0.93rem;
        margin-right: 0.4rem;
    }

    .enlaces-footer{
        height: 72px;
        font-size: 0.625rem;
        padding-right: 1.25rem;
    }
  
}






